@model SistemaWebMisRecetas.Models.Receta;

@{
    ViewData["Title"] = "Detalle";
}
    <h2>Ver Detalle</h2>
@Html.ActionLink("Volver","Index","Receta")

    <p>
    @Html.DisplayNameFor(model=>model.Titulo)
    @Html.DisplayFor(model=>model.Titulo)
    </p>
    <p>
    @Html.DisplayNameFor(model=>model.Categoria)
    @Html.DisplayFor(model=>model.Categoria)
    </p>
    <p>
    @Html.DisplayNameFor(model=>model.Ingredientes)
    @Html.DisplayFor(model=>model.Ingredientes)
    </p>
    <p>
    @Html.DisplayNameFor(model=>model.Instrucciones)
    @Html.DisplayFor(model=>model.Instrucciones)
    </p>
    <p>
    @Html.DisplayNameFor(model=>model.Autor)
    @Html.DisplayFor(model=>model.Autor)
    </p>
    <p>
    @Html.DisplayNameFor(model=>model.Apellido)
    @Html.DisplayFor(model=>model.Apellido)
    </p>
    <p>
    @Html.DisplayNameFor(model=>model.Edad)
    @Html.DisplayFor(model=>model.Edad)
    </p>
    <p>
    @Html.DisplayNameFor(model=>model.Email)
    @Html.DisplayFor(model=>model.Email)
    </p>

@Html.ActionLink("Editar","Editar","Receta",new{id= Model.Id})
@Html.ActionLink("Eliminar","Delete","Receta",new{id= Model.Id})